body {
    display: flex;
    flex-direction: column;

}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

main, article {
flex: 2;
overflow-y: auto;
}
main, aside {
    flex: 1;
    overflow-y: auto;
    color: #6152e4;
}
.logo {
    color: blue;
    font-size: 60px;
}
.table  {
    border-collapse: collapse;
    width: 60%;
    height: 50vh;
}
.table thead th {
    border: 2px solid black;
    background-color: beige;
    padding: 8px;
    text-align: center;
}
.table tbody td {
    border: 1px solid black;
    padding: 8px;
    text-align: center; 
}
main article h1 {
    color: red;
}
p {
    color: black;
}
h3 {
    color: greenyellow;
}
a:link {
    color: purple 
}
a:hover {
    text-decoration: solid;
    color: orangered;
}
a:visited {
    color: green;
}